.App {
  text-align: center;
}
​ img {
  height: 200px;
}

.dino-card {
  min-width: 270px;
  background-color: wheat;
  border-radius: 5px;
}

.dino-card > img {
  height: 200px;
  width: 300px;
}

.dino-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin: 15px;
}
